.title {
  margin-bottom: 16px;
}

.item {
  margin-bottom: 16px;
}

.list {
  margin-bottom: 0;
}

@media (min-width: 800px) {
  .posts {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .title {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .list {
    grid-column-start: 2;
    grid-column-end: -1;
  }
}
