* {
  padding: 0;
  box-sizing: border-box;
}

html {
  border-top: 3px solid #b2ccf0;
}

body {
  color: #222;
  font-family: monospace;
  background-color: #fff;
}

header {
  margin-top: 40px;
}

h1 {
  font-size: 3em;
}

h2 {
  color: #222;
  transition: color 0.5s ease;
}

h2:hover {
  color: #666;
}

.main-section {
  margin: 40px 0;
}

h1, nav, section {
  max-width: 50%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #008ace;
  border-bottom: 1px solid #b2ccf0;
  transition: color 0.5s ease;
}

a:visited {
  color: #b40eb4;
  border-color: #e0b2e0;
}

.title a:visited {
  color: #333;
}

a:hover {
  color: #c00;
  border-color: #f0b2b2;
}

.title a {
  color: #222;
  border-bottom: 5px solid #222;
  transition: all 0.5s ease;
}

.title a:hover {
  color: #666;
  border: 0 solid transparent;
}

li {
  display: inline-block;
  padding-right: 8px;
}

p {
  margin-top: 0;
}

h1 {
  margin-bottom: 6px;
}

footer {
  width: 100%;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #eee;
  padding-top: 40px;
}

/* Увеличивать ширину колонки на смартфонах */

@media screen and (max-width: 480px) {
  h1, nav, section {
    width: 75%;
  }
}
