* {
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #222;
  font-family: monospace;
}

header {
  margin-top: 40px;
}

.main-section {
  margin: 40px 0;
}

.title, nav, section {
  width: 50%;
  margin: 0 auto;
}
.title a {
  color: #333;
  border-bottom: none;
}

a  {
  text-decoration: none;
  color: #008ace;
  border-bottom: 1px solid #b2ccf0;
}

a:visited {
  color: #b40eb4;
  border-color: #e0b2e0;
}

.title a:visited {
  color: #333;
}

a:hover {
  color: #c00;
  border-color: #f0b2b2;
}

li {
  display: inline-block;
  padding-right: 8px;
}

p {
  margin-top: 0;
}

h1 {
  margin-bottom: 6px;
}

footer {
  width: 100%;
  text-align: center;
  font-size: 12px;
}
