/* RESET STYLING*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* //RESET STYLING*/


/* HEADER SECTION*/

header {
  height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.65) 100%), url(img/header_bg.png);
  background-color: #ccc;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  margin: 25px 0 0 120px;
}

header nav {
  margin: 25px 120px 0 0;
}

nav li {
  display: inline-block;
}

nav li:not(:last-child) {
  margin-right: 25px;
}

a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 700;
  color: #fff;
}

nav a {
  text-transform: uppercase;
}

nav a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #fff;
  transition: width .3s;
}

header a:hover::after {
  width: 100%;
}

.tagline {
  width: min-content;
  margin: 100px 0 100px 120px;
  text-transform: uppercase;
}

h1 {
  font-size: 72px;
  letter-spacing: 0.1em;
  color: #fff;
}

h2 {
  font-size: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

.button {
  width: fit-content;
  margin-top: 50px;
  padding: 12px 12px;
  transition: background-color 0.3s;
  background: #bd00b0;
  cursor: pointer;
}

.button:hover {
  background-color: #94008a;
}

/* //HEADER SECTION*/


/* FOOTER SECTION*/

footer {
  display: flex;
  justify-content: center;
  background: #eee;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  width: 900px;
  /*margin: 0 120px;*/
  padding: 50px 0;
}

.footer-wrap nav {
  margin-left: -80px;
}

.footer-wrap a {
  color: #999;
  font-weight: 100;
  text-transform: capitalize;
  text-decoration: underline;
}

.footer-wrap span {
  color: #777;
  text-transform: uppercase;
  font-weight: 800;
}

.social-item {
  display: inline-block;
  width: 37px;
  height: 37px;
}

.facebook {
  background-image: url("img/facebook.png");
}

.twitter {
  background-image: url("img/twitter.png");
}

/* //FOOTER SECTION*/


/* CRUISER SECTION*/

.cruiser {
  display: flex;
  margin: 45px auto 0 auto;
  max-width: 900px;
}

.cruiser h2 {
  position: relative;
  top: 240px;
  text-align: center;
}

.cruiser-bg {
  position: relative;
  height: 375px;
  width: 302px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cruiser-bg img {
  position: absolute;
  top: 90%;
  left: 35%;
}

.freedom {
  background-image: url("img/freedom.png");
  box-shadow: inset 100px -104px 203px -51px rgba(141, 43, 99, 0.74);
}

.city {
  position: relative;
  background-image: url("img/city.png");
}

.lifestyle {
  background-image: url("img/lifestyle.png");
}

.circle {
  position: absolute;
  top: 62%;
  left: 31%;
  width: 122px;
  height: 122px;
  background: #3bd6b6;
  border: 1px none black;
  border-radius: 50%;
}

.city h2 {
  top: 35px;
  font-size: 18px;
}

.arrow {
  top: 72%;
  left: 43%;
  position: absolute;
  width: 15px;
  height: 9px;
  background-image: url("img/arrow.png");
}

/* //CRUISER SECTION*/


/* ABOUT SECTION*/

.about {
  max-width: 900px;
  margin: 100px auto;
}

.about, .about a, .about h2 {
  color: #444561;
  text-align: center;
}

.about img {
  padding-top: 15px;
  padding-bottom: 30px;
}

.about a {
  font-weight: normal;
  text-decoration: underline;
  color: #3bd6b6;
  font-size: 24px;
}

.about p {
  font-size: 24px;
  line-height: 1.8;
}

/* //ABOUT SECTION*/

/* LADY CRUISER SECTION*/

.lady-cruiser {
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  height: 394px;
  background-color: #59DADB;
}

.lady-bg {
  width: 595px;
  height: 394px;
  background-image: url("img/lady-cruiser.png");
  background-repeat: no-repeat;
  background-position: center;
}

.lady-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 35px;
  width: 365px;
}

.lady-cruiser h2 {
  margin: 25px 0 35px 0;
  font-size: 48px;
  letter-spacing: 2px;
}

.lady-cruiser p {
  color: #ffffff;
  font-size: 18px;
  font-style: italic;
}

.lady-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 195px;
  height: 50px;
  background-color: #049294;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.wave-blue {
  margin: 75px auto;
  width: 168px;
  height: 16px;
  background-image: url("img/wave-blue.png");
  background-repeat: no-repeat;
  background-position: center;
}

.dtwo {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 900px;
}

.letter {
  width: 225px;
  height: 335px;
  background-color: #049294;
  background-repeat: no-repeat;
  background-position: center;
}

.d-letter {
  background-image: url("img/d-letter.png");
}

.t-letter {
  background-image: url("img/t-letter.png");
}

.w-letter {
  background-image: url("img/w-letter.png");
}

.o-letter {
  background-image: url("img/o-letter.png");
}


/* //LADY CRUISER SECTION*/
