---
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';

// деструктуризация, потому что коллекция подрузамевает много элементов, а у меня только один (books.json)
const [books] = await getCollection('books');
const { data: booksByYear } = books;

const years = Object.keys(booksByYear).sort((a, b) => Number(b) - Number(a));
const counter = years.reduce((acc, year) => booksByYear[year].length + acc, 0);
---

<Layout title="Книги | Нуриль Барадусов" description="Прочитанные книги">
  <main>
    <h1>Прочитанные книги ({counter})</h1>

    <div>
      {
        years.map((year) => {
          const books = booksByYear[year];

          return (
            <section>
              <h2>{year}</h2>

              <ul class="list">
                {books.map((book) => {
                  return (
                    <li class="list-item">
                      <p class="title">{book.title}</p>
                      <p>{book.author}</p>
                    </li>
                  );
                })}
              </ul>
            </section>
          );
        })
      }
    </div>
  </main>
</Layout>

<style>
  .list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .list-item {
    margin-bottom: 0;
  }

  .title {
    font-size: 20px;
    font-weight: 700;
  }
</style>
