---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Нуриль Барадусов"
  description="Здесь я собираю всё, чем занимаюсь и пишу дневник.">
  <main>
    <section>
      <h1>now</h1>

      <div class="content">
        <p>На этой странице можно узнать, чем я в текущий момент занимаюсь.</p>

        <ul class="list">
          <li>живу с Я. в Тбилиси</li>
          <li>и пытаюсь привыкнуть к новой жизни</li>
          <!-- <li>комьючу и катаюсь на велосипеде</li> -->
          <li>учусь не быть заменённым ИИ</li>
          <li>читаю Критическая теория интернета и Co-intelligence</li>
          <li>
            веду блог на <a href="/" target="_blank">этом сайте</a> и <a
              href="https://t.me/nuril_notes"
              target="_blank"
              rel="noopener noreferrer">
              телеграм-канал
            </a>
          </li>
          <li>
            делаю медленно <a
              href="https://russianstreetwear.club"
              target="_blank">
              каталог с брендами
            </a> и ещё один проектик
          </li>
          <li>работаю фронтендером в финтехе</li>
          <!-- todo: сделать отдельную секцию с тем, что уже не делаю -->
          <li><s>работаю фронтендером в цифровой логистике</s></li>
          <li>
            <s>учусь в школе современной фотографии</s>
            <a
              href="https://www.docdocdoc.ru/laterna-magica?ref=baradusov.ru"
              target="_blank"
              rel="noopener noreferrer">
              <s>Докдокдок на курсе Волшебный фонарь</s>
            </a>
          </li>
        </ul>

        <p>Обновлено 10 декабря 2025 года.</p>
      </div>
    </section>
  </main>
</Layout>
