---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Нуриль Барадусов" description="Фронтендер из Санкт-Петербурга">
  <main>
    <section>
      <h1>now</h1>

      <div class="content">
        <p>На этой странице можно узнать, чем я в текущий момент занимаюсь.</p>

        <ul class="list">
          <li>живу с Я. в Санкт-Петербурге</li>
          <li>
            учусь в школе современной фотографии <a
              href="https://www.docdocdoc.ru/laterna-magica?ref=baradusov.ru"
              target="_blank"
              rel="noopener noreferrer">Докдокдок на курсе Волшебный фонарь</a
            >
          </li>
          <li>учу английский язык у А.</li>
          <li>учусь не быть заменённым ИИ</li>
          <li>занимаюсь болдерингом</li>
          <li>катаюсь по снегу на велосипеде</li>
          <li>смотрю шестой сезон Сопрано</li>
          <li>читаю Критическая теория интернета, Герт Ловинк</li>
          <li>
            веду блог на <a href="/" target="_blank">этом сайте</a> и <a
              href="https://t.me/nuril_notes"
              target="_blank"
              rel="noopener noreferrer">телеграм-канал</a
            >
          </li>
          <li>
            делаю медленно <a
              href="https://russianstreetwear.club"
              target="_blank">каталог с брендами</a
            > и ещё один проектик
          </li>
          <li>работаю фронтендером в продуктовой компании</li>
        </ul>

        <p>Обновлено 22 февраля 2025 года.</p>
      </div>
    </section>
  </main>
</Layout>
