.container {
  display: grid;
}

.title {
  margin: 0;
}

.date {
  margin-top: 8px;
}

@media (min-width: 800px) {
  .container {
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  .date {
    margin-top: 0;
    margin-left: 10px;
  }
}
